html {
  background-color: #f4f1de;
}

.App {
  background-color: #f4f1de;
}

.alert {
  text-align: center;
  margin: 10%;
}

.btn-vote {
  margin: 0.5rem;
  margin-top: 1.5rem;
  max-height: 4rem;
  width: 40%;
}

.btn-upload-form {
  color: #81b29a;
}

.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:visited {
  background-color: #81b29a !important;
  border-color: #81b29a !important;
}

.btn-text {
  padding: 0.5em;
  font-size: 0.8em;
  text-align: center;
}

.card {
  text-align: center;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 30rem;
  /* background-color: #f4f1de; */
}

.card-title {
  text-align: left;
  color: #3d405b !important;
  font-weight: bold !important;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-content: center;
}

.fa-star {
  color: #f2cc8f;
}

form {
  margin: auto;
  margin-top: 5%;
  width: 60%;
}

label {
  color: #3d405b;
}

.navbar {
  min-height: 100px;
}

.nav-container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.nav-link {
  font-size: 1.5rem;
  color: #3d405b !important;
}

.nav-link:hover {
  color: lightslategrey !important;
}

.nav-link.active {
  font-size: 1.7rem;
  color: #e07a5f !important;
}

.navbar-brand {
  text-align: center;
}

.navbar-brand h1 {
  font-size: 6rem;
  color: #81b29a;
}

.navbar-item {
  padding: 20px;
  margin-top: 2.5rem;
  text-decoration: none;
  text-size-adjust: 2rem;
  font-weight: bold;
  text-align: center;
}
