
.card-columns {
    margin: 5% 10%;
}

.navbar {
    min-height: 100px;
}

.navbar-brand {
    text-align: center;
    font-size: 2rem !important;
}

.navbar-item {
    padding: 20px;
    margin-top: 2.5rem;
    color: gray;
    text-decoration: none;
    text-size-adjust: 2rem;
    font-weight: bold;
    text-align: center;
}

.card {
    text-align: center;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 30rem;
}

form{
    margin: 5% 15%;
}

.btn {
    margin: 0.5em;
}

h1 {
    padding: 20px;
    text-align: center;
}
