:root {
  --m_black: #3d405b;
  --m_green: #81b29a;
  --m_lightyellow: #f4f1de;
  --m_red: #e07a5f;
  --m_yellow: #f2cc8f;
}

html {
  background-color: var(--m_lightyellow);
}

.App {
  background-color: var(--m_lightyellow);
}

.alert {
  text-align: center;
  margin: 10%;
}

.btn-vote {
  margin: 0.5rem;
  margin-top: 1.5rem;
  max-height: 4rem;
  width: 40%;
}

.btn-upload-form {
  background-color: var(--m_green);
}

.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:visited {
  background-color: var(--m_green) !important;
  border-color: var(--m_green) !important;
}

.btn-text {
  padding: 0.5em;
  font-size: 0.8em;
  text-align: center;
}

.card {
  text-align: center;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  max-width: 30rem;
}

.card-title {
  text-align: left;
  color: var(--m_black) !important;
  font-weight: bold !important;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-content: center;
}

.fa-star {
  color: var(--m_yellow);
}

form {
  margin: auto;
  margin-top: 5%;
  width: 60%;
}

footer {
  margin: auto;
  margin-top: 10%;
  text-align: center;
  font-size: 0.8rem;
  color: var(--m_black);
  text-align: center;
  justify-content: center;
}

h1,
h4 {
  color: var(--m_black);
  padding: 10%;
}

label {
  color: var(--m_black);
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav-link {
  font-size: 1.1rem;
  color: var(--m_black) !important;
}

.nav-link:hover {
  color: lightslategrey !important;
}

.nav-link.active {
  font-size: 1.3rem;
  color: var(--m_red) !important;
}

.navbar-brand h1 {
  margin: auto;
  font-weight: bold;
  font-size: 2rem;
  color: var(--m_green);
}

.navbar-item {
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

/* media queries */

@media (min-width: 544px) {
  .navbar-brand h1 {
    font-size: 2.5rem;
  }
  .nav-link {
    font-size: 1.2rem;
  }
  .nav-link.active {
    font-size: 1.4rem;
  }
}

@media (min-width: 768px) {
  .navbar-brand h1 {
    font-size: 3rem;
  }
  .nav-link {
    font-size: 1.3rem;
  }
  .nav-link.active {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .navbar-brand h1 {
    font-size: 3.5rem;
  }
  .nav-link {
    font-size: 1.4rem;
  }
  .nav-link.active {
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
  .navbar-brand h1 {
    font-size: 4rem;
  }
  .nav-link {
    font-size: 1.5rem;
  }
  .nav-link.active {
    font-size: 1.7rem;
  }
}
